[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=audiodevices
Exec=/opt/bin/audiodevices
Icon=qt-mobility-example
StartupWMClass=qt-mobility-example-audiodevices
X-Window-Icon=qt-mobility-example
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=true

