[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=audioinput
Exec=/opt/bin/audioinput
Icon=qt-mobility-example
StartupWMClass=qt-mobility-example-audioinput
X-Window-Icon=qt-mobility-example
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=true

