[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=lightmaps_with_location
Exec=/opt/bin/lightmaps_with_location
Icon=qt-mobility-example
StartupWMClass=qt-mobility-example-lightmaps_with_location
X-Window-Icon=qt-mobility-example
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=true

