[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=MessagingEx
Exec=/opt/bin/MessagingEx
Icon=qt-mobility-example
StartupWMClass=MessagingEx
X-Window-Icon=qt-mobility-example
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false

