[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=querymessages
Exec=/usr/bin/osso-xterm /opt/bin/querymessages
Icon=qt-mobility-example
StartupWMClass=qt-mobility-example-querymessages
X-Window-Icon=qt-mobility-example
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=true

