[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=satellitedialog
Exec=/opt/bin/satellitedialog
Icon=qt-mobility-example
StartupWMClass=qt-mobility-example-satellitedialog
X-Window-Icon=qt-mobility-example
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false

