[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=smallsensors
Exec=/opt/bin/smallsensors
Icon=qt-mobility-example
StartupWMClass=smallsensors
X-Window-Icon=qt-mobility-example
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false

